{% extends 'base.html' %}

{% block title %}Course List{% endblock %}

{% block content %}
    <section class="course-list-container">
        <h1>Courses</h1>
         {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'course_create' %}" class="btn btn-success mb-3">Create New Course</a>
           {% endif %}
        <div class="row">
            {% for course in courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if course.image %}
                            <img src="{{ course.image.url }}" class="card-img-top" alt="{{ course.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ course.title }}</h5>
                            <p class="card-text">{{ course.description|truncatechars:100 }}</p>
                            <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">View Course</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}