{% extends 'base.html' %}

{% block title %}My Courses{% endblock %}

{% block content %}
    <section class="my-courses-container">
        <h1>My Courses</h1>
        {% if enrollments %}
            <ul>
                {% for enrollment in enrollments %}
                    <li>
                        <a href="{% url 'course_detail' enrollment.course.id %}">{{ enrollment.course.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> You are not enrolled in any courses yet, please, <a href="{% url 'course_list' %}"> browse the courses </a> to enroll in some. </p>
        {% endif %}
    </section>
{% endblock %}